/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.margin-between-anchors{
  margin-bottom: 5px;
}

.background-guy{
  background-color: rgb(57, 62, 138);
}

.back-card {
  background-color: whitesmoke;
}

.back-image {
  background-image: url('./Assets/lightbackground.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
}

.name-font-size {
  font-size: xx-large;
  font-weight: bold;
}

.img-stuff {
  width: 100%;
  height: 100%;
}


